@import 'nib'
@import 'jeet'
@import 'rupture'

@import 'vendor/owl.carousel.css'
@import 'vendor/jquery.fancybox.css'

@import 'pallete.styl'
@import 'fonts.styl'
@import 'universal.styl'

@import 'templates/home.styl'
@import 'templates/page.styl'
@import 'templates/blog.styl'
@import 'templates/equipe.styl'

@import 'components/header.styl'
@import 'components/footer.styl'