FONT_LIGHT =
  font-family 'Titillium Web'
  font-weight 300

FONT_REGULAR =
  font-family 'Titillium Web'
  font-weight 400

FONT_SEMIBOLD =
  font-family 'Titillium Web'
  font-weight 600

FONT_BOLD =
  font-family 'Titillium Web'
  font-weight 700

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url('../font/TitilliumWeb-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url('../font/TitilliumWeb-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: local('Titillium WebSemiBold'), local('TitilliumWeb-SemiBold'), url('../font/TitilliumWeb-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url('../font/TitilliumWeb-Bold.ttf') format('truetype');
}