palette = {
  main_dark             : #413B36,
  main_light            : #F0EFEC,
  main_hover            : #72685D,
  sec_dark              : #245EAE,
  sec_light             : #4491E0,
  sec_hover             : #82E7AA,
  // 'link'             : #546673,
  // 'background_light' : #537c7f,
  // 'background_dark'  : #113739,
  // 'red'              : #f6402f,
  // 'green'            : #3f4c56,
}