header, .main
  /*
  transition none
  height 205px
  border-top 15px solid palette['blue']; */

  #header-top
    background-color #f6f6f6
    border-bottom 1px solid #eee
    padding 10px 0
    color #303030
    font-size 1.2em
    {FONT_LIGHT}
    +below(3)
      display none

  .text-1, .text-2
    col(1/2)

  .text-1
    +below(1130px)
      col(2/3)

  .text-2
    +below(1130px)
      col(1/3)

  .text-2
    text-align right
    margin-right 50px

  #header
    margin-top 40px
    margin-bottom 50px
    height 60px
    +below(4)
     margin-top 15px

  #logo
    col(4/20, gutter: 8)
    a
      width 100%
      height 48px
      background-image url(http://broker.commercegurus.com/wp-content/uploads/2015/10/broker-logo.png)
      background-size contain
      background-repeat no-repeat
      float left
      text-indent -9999em
      overflow hidden
    +below(4)
      col(2/10, cycle: 2, gutter: 2)

  div#info
    col(11/20)
    height 60px
    +below(1100px)
      display none
    .info-col
      col(1/3, gutter: 3)
      height 60px
      .icon
        col(1/4, cycle: 2, gutter: 1)
        text-align center
      .info-detail
        col(3/4, cycle: 2)

  .title-info
    margin-bottom 5px
    font-size 50px
    {FONT_NORMAL}

  .text-info
    {FONT_LIGHT}


  .title-info, .text-info
    font-size 15px
    font-family "Source Sans Pro"
    color $contact

  .ion-ios-telephone-outline, .ion-ios-location-outline, .ion-ios-time-outline
    font-size 35px
    color $icon
    margin-top 5px

  #search
    col(4/20)
    position relative
    +below(1101px)
      display none

  input#search-text
    border 1px solid #eeeeee
    border-radius 2px
    width 100%
    {FONT_LIGHT}
    font-size 17px
    outline none
    padding 10px 14px 16px 12px
    margin-top -9px
    &:focus
      border solid 1px #cccccc
      box-shadow 0 1px 1px rgba(0, 0, 0, 0.06)
  #submit-button
    position absolute
    border-style none
    background-color transparent
    top 1px
    right -20px


  i.ion-ios-search-strong
    color #666666
    font-size 18px
    cursor hand


//Mobile Until 800px //

.meanmenu
  position relative
  +above(1101px)
    display none
  a.menu-reveal
    display block
    position absolute
    right 0
    margin-top -5px
    span
      display block
      background-color #000000
      height 2px
      width 16px
      margin-top 4px

.menuclose
  span:nth-of-type(1)
    transform: rotate (45deg)

.ion-navicon, .ion-android-search
  margin-top 10px
  font-size 20px
  color #000000




