header, .main
  /*
  transition none
  height 205px
  border-top 15px solid palette['blue']; */

  #header-top
    background-color #f6f6f6
    border-bottom 1px solid #eee
    padding 10px 0
    color #303030
    font-size 15px
    font-family "Source Sans Pro"
    +below(3)
      display none

  .text-1, .text-2
    col(1/2)

  .text-2
    text-align right
    margin-right 50px

  #header
    margin-top 40px
    margin-bottom 50px
    height 60px

  #logo
    col(4/20, gutter: 8)
    a
      width 100%
      background-image url(http://broker.commercegurus.com/wp-content/uploads/2015/10/broker-logo.png)
      background-size contain
      background-repeat no-repeat
      float left
      text-indent -9999em
      overflow hidden
      height 60px
      +below(3)
        margin-top 150px

  div#info
    col(11/20)
    height 60px
    .info-col
      col(1/3, gutter: 3)
      height 60px
      .icon
        col(1/4, cycle: 2, gutter: 1)
        text-align center
      .info-2
        col(3/4, cycle: 2)

  .title-info
    font-weight bold
    margin-bottom 5px
    font-size 50px

  .title-info, .text-info
    font-size 15px
    font-family "Source Sans Pro"

  .ion-ios-telephone-outline, .ion-ios-location-outline, .ion-ios-time-outline
    font-size 35px
    color #24A3D8
    margin-top 5px

  #search
    col(4/20)
    height 60px
    form
      width 100%
      position relative
      border 1px solid #eeeeee
      border-radius 2px
      padding 10px 30px 10px 10px
      &:hover
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 3px #9ecaed;

  input#search-text
    border 0
    width 100%
    font-family "Source Sans Pro"
    font-size 18px
    outline none

  #submit-button
    position absolute
    right 10px
    top 10px
    border-style none
    background-color transparent


  i.ion-ios-search-strong
    color #333333
    font-size 18px
    cursor hand
    font-weight 700


  +below(3)
    .info, .title-info, .text-info, .ion-ios-telephone-outline, .ion-ios-location-outline, .ion-ios-time-outline
      stack()
      margin-bottom 10px